.copyright {
    padding: 15px;
    color: #777;
}

.margin-bottom {
    margin-bottom: 60px;
}

.small-margin-top {
    margin-bottom: 40px;
}

.hover {
    background-color: #b9def0;
}

input.ng-invalid {
    border: 1px red solid;
}

.menu {
    cursor: pointer;
}