.copyright {
    padding: 15px;
    color: #777;
}

.options {
    margin-bottom: 80px;
}

.title {
    display: inline;
}

.hover {
    background-color: #b9def0;
}

input.ng-invalid {
    border: 1px red solid;
}

.menu {
    cursor: pointer;
}