<div class="margin-bottom">
    <button type="button" class="btn btn-info pull-left" ng-click="accountsController.createAccount()">{{ 'createNew' | translate }}</button>
    <div class="alert alert-success pull-right" ng-hide="accountsController.operation.status !== 'success'">{{ 'success' | translate }}</div>
    <div class="alert alert-danger pull-right" ng-hide="accountsController.operation.status !== 'failure'">{{ 'failure' | translate }}</div>
</div>
<h1>{{ 'accounts' | translate }}</h1>
<div class="pull-right">
    {{ 'page' | translate }} {{ accountsController.page.pageNumber + 1}} / {{ accountsController.page.totalPages }}
</div>
<table class="table">
    <thead>
    <tr>
        <th translate="number" ng-click="accountsController.sort('number')"></th>
        <th translate="balance" ng-click="accountsController.sort('balance')"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="account in accountsController.page.accounts" t-hover
        ng-click="accountsController.showOperationModal(account)">
        <td>{{ account.number }}</td>
        <td>{{ account.balance | money }}</td>
    </tr>
    </tbody>
</table>
<nav class="margin-bottom">
    <ul class="pager">
        <li><a ng-click="accountsController.showPreviousPage()" ng-hide="!accountsController.page.hasPrevious">{{ 'previous' | translate }}</a></li>
        <li><a ng-click="accountsController.showNextPage()" ng-hide="!accountsController.page.hasNext">{{ 'next' | translate }}</a></li>
    </ul>
</nav>
<script id="operation-template" type="text/ng-template">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'account' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="form-group">
                {{ 'number' | translate}}: {{ operationController.operation.sourceAccountNumber }}
            </div>
            <div class="form-group">
                <t-spinner step="10" min="0" value="operationController.operation.funds"
                           on-change="operationController.onFundsChange(newValue, oldValue)"/>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="operationController.operation.name"
                    ng-options="type as type | translate for type in operationController.operation.types"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="operationController.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="operationController.cancel()">Cancel</button>
    </div>
</script>